EASYCRUD_REPO=https://github.com/rushidholecom/EasyCRUD.git
EASYCRUD_REF=main
MARIADB_ROOT_PASSWORD=root123
MARIADB_DATABASE=titan_db
MARIADB_USER=rushi
MARIADB_PASSWORD=rushi123
DATABASE_PORT=3306
BACKEND_PORT=8080
FRONTEND_PORT=3000
